@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.App {
  overflow-x: hidden;
  background: linear-gradient(181deg, #000 0.82%, #4A2800 129.1%);
  backdrop-filter: blur(7px);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1146px;
  margin: 0 auto;
}

.navbarActive{
  transition: 0.5s ease-in-out;
  backdrop-filter: saturate(180%) blur(3px) !important;
  background: hsla(0,0%,100%,.8) !important;
  padding: 5px 0px !important;
}

.Navbar {
  width: 100%;
  position: fixed;
  transition: 0.5s ease-in-out;
  padding: 10px 0px;
  z-index: 9;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 30px 0 0 0;
  .nav-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .nav-logo {
      h1 {
        color: #FFF;
        font-size: 29px;
        font-weight: 800;
        line-height: 153.5%; 
      }

      p {
        margin: 0;
        padding: 0;
        font-size: 32px;
        font-weight: 700;
      }
    }

    .nav-list{
      display: flex;
      gap: 20px;
      align-items: center;
      list-style-type: none;
      padding: none;
      margin-top: 12px;
      
      .nav-link{
        font-weight: 700;
        font-size: 18px;
        line-height: 120%;
        color: #fff;
      }

      li{
        padding: 0px 0;
      }

    }
    .nav__toggler{
      cursor: pointer;
      display: none;
      div{
        border-radius: 5px;
        width: 36px;
        height: 0.2rem;
        margin: 0.4rem;
        background: #fff;
        transition: 0.5s ease-in;
      }
    }
  }
}

.heroSection {
  padding-top: 130px;
  margin-bottom: 132px;
  .heroContent {
    .heroInfo {
      h3 {
        color: #E87D0E;
        font-size: 20px;
        font-weight: 700;
        line-height: 155.2%;
        margin-bottom: 17px; 
      }

      h2 {
        color: #FFF;
        font-size: 50px;
        font-weight: 700;
        line-height: 155.2%; 
        margin-bottom: 26px;
      }

      p {
        color: #FFF;
        font-size: 16px;
        font-weight: 500;
        line-height: 200%;
        margin-bottom: 50px;
      }

      button {
        width: 195px;
        height: 53px;
        border-radius: 40px;
        background: linear-gradient(92deg, #FA8305 2.08%, #FB9E3C 117.25%);
        color: #FFF;
        font-size: 16px;
        font-weight: 500;
        border: none;
      }
    }

    .heroImg {
      img {
        width: 620px;
      }
    }
  }
}

.TrendingGameSection {
  .trendingContent {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin-bottom: 58px;
    h2 {
      color: #FFF;
      font-size: 31px;
      font-weight: 700;
      line-height: 187.5%;
    }

    a {
      width: 139px;
      height: 57px;
      border-radius: 10px;
      background: rgba(255, 255, 255, 0.11);
      padding: 10px 30px;

      color: #FFF;
      font-size: 20px;
      font-weight: 500;
      line-height: 187.5%;
      text-align: center;
    }
  }
}